body {
    background-color: #F2B3CA;
    
}

.candidatos {
    margin-top: 100px;
    margin-bottom: 40px;
}

.btn {
    margin: 5px;
    background-color: #F20574;
    border-color: #F20574;
}

.btn:hover {
    background-color: white;
    color: #F20574;
    border-color: #F20574;
}

.resultados {
    padding: 15px;
    margin-bottom: 100px;
}

.imgVotos{
    display: flex;
    align-items: center;
    justify-content: center;
}