@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Prata&family=Source+Code+Pro&display=swap');

body {
    background-color: #F2D3AC;
}

.titulo {
    text-align: center;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
}

.form, label {
    font-family: 'Source Code Pro', monospace;
}

.form, input {
    border-radius: 5px;
}

.formulario {
    margin-left: 40%;
}

.opcao {
    margin-top: 20px;
}
