@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Prata&family=Source+Code+Pro&display=swap');

body {
    background-color: #F2D3AC;
}

.titulo {
    text-align: center;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
}